{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'service_tastemeasure/css/servicepage.css' %}">
    <link rel="stylesheet" href="{% static 'service_tastemeasure/css/reset.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="contentbox">
            <div class="contents">
                <div class="question">
                    
                </div>
                <div class="answer">

                </div>
            </div>
        </div>
    </div>
</body>
</html>