.container {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100vh;
    position: relative;
}

.container .contentbox {
    /* border: 1px solid red; */
    height: 100%;
    max-width: 373px;
    margin: 0 auto;  
}

.container .contentbox .contents {
    height: 90%;
    /* min-width: 70%; */
    margin-top: 16px;
    margin-bottom: 30px;
    /* padding: auto 0; */
    /* border: 5px solid green; */
}

.container .contentbox .contents .question{
    height:40%;
    border: 2px dashed gray;
}

.container .contentbox .contents .answer{
    height:50%;
    border: 2px dashed maroon;
}